# Google Drive OAuth2 Credentials
HSC_GC_ID="your_google_client_id.apps.googleusercontent.com"
HSC_GS="your_google_client_secret"

# (Optionnel) Dropbox OAuth2
HSC_DBX_ID=""
HSC_DBX_SECRET=""

# (Optionnel) Proton Drive OAuth2
HSC_PROTON_ID=""
HSC_PROTON_SECRET=""

